nav.navbar.fixed-top {
    transition: all 0.2s ease-out;
    padding: 25px;
}

nav.navbar.fixed-top.shrink {
    padding: 5px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    transition: all 0.2s ease-out;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 100vh;
}
body {
    background-color: whitesmoke;
}