nav.navbar.fixed-top {
    transition: all 0.2s ease-out;
    padding: 25px;
}

nav.navbar.fixed-top.shrink {
    padding: 5px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

body {
    background-color: whitesmoke;
}
